*.txt
*.model
*.npy
*.csv
*.html
*Advice2txt.py
*vectors.bin
fastText/*/*.bin
fastText/*.bin
fastText/tmp-wiki/
fastText/tmp/
fastText/*/*.vec
fastText/*.vec
fastText/*/*.o
GloVe/*.bin
wiki-sug/
sugSample/*.txt
sugSample/*.csv
word2meishi.py
doc2vec/train.py
