*.txt
*.model
*.npy
*.csv
*.html
*Advice2txt.py
*vectors.bin
fastText/model.bin
fastText/tmp-wiki/
fastText/tmp/
fastText/model.vec
fastText/model.o
GloVe/*.bin
wiki-sug/
sugSample/*.txt
sugSample/*.csv
word2meishi.py
